main {
  column-count: 5;
    /*      
    columns: 150px;
    column-width: 150px;
    column-gap: 50px;   
    columns: 20 8em;
    column-gap: 50px;
    */
}

p {
  margin: 0;
}
p + p {
  margin-top: 1rem;
}
